:root {
  --vp-c-bg: #262c35;
  --vp-c-bg-alt: #262c35;
  --vp-c-bg-soft: #262c35;

   --vp-c-text-1: #e5e5e5; 
  --vp-c-text-2: #b5b5b5; 
  --vp-c-text-3: #7a7a7a;
}

.VPNav {
  background-color: #181d24 !important;
  border-bottom: none !important;
  backdrop-filter: none !important;
}

.header-anchor {
  display: none !important;
}


.VPContent {
  display: flex !important;
  justify-content: center !important;
}

.VPDoc.has-sidebar,
.VPDoc.has-aside {
  grid-template-columns: 1fr !important;
}


.VPDoc {
  margin: 0 auto !important;
  max-width: 900px !important;
  width: 100%;
}

video {
  width: 100%;
  border-radius: 8px;
  display: block;
}

.vp-doc a {
  color: #4ea1ff !important;
  text-decoration: underline !important;
}

.vp-doc a:hover {
  color: #82c4ff !important;
}


.VPMenu * {
  color: #000000 !important;
}

/* button look */
.button-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
}

.vp-doc a.vp-button {
  display: block; 
  padding: 15px; 
  border-radius: 12px; 
  
  background: #263f49;
  color: #ffffff !important; 
  
  text-align: center; 
  text-decoration: none !important;
  font-weight: bold;

  border: 2px solid #485357; 
  
  transition: background 0.2s ease;
}

.vp-doc a.vp-button:hover {
  background: #385864;
  color: #ffffff !important;
  text-decoration: none !important;
}